<head th:fragment="head(title)">

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<meta charset="ISO-8859-1">
	<link rel="shortcut icon" type="image/png" th:href="@{/images/fondoNM.png}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">

	<!-- Fonts and icons -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">

	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<title th:text="${title}"></title>

</head>