<div th:fragment="scripts">
	<script th:src="@{/js/core/jquery.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
	
	<script th:src="@{/js/plugins/chartjs.min.js}"></script>
	<script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	
	<script th:src="@{/js/now-ui-dashboard.min.js?v=1.5.0}"></script>
	
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</div>
