<div th:fragment="sidebar">

	<div class="sidebar" data-color="red">
		<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        -->

		<div class="logo">
			<a href="/home" class="simple-text logo-mini">
				<i class="fas fa-motorcycle"></i>
			</a>
			<a href="/home" class="simple-text logo-normal">
				NEW-MOTOS
			</a>
		</div>

		<div class="sidebar-wrapper" id="sidebar-wrapper">
			<ul class="nav">
				<li>
					<a href="/dashboard">
						<i class="now-ui-icons design_app"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li>
					<a href="/empleados">
						<i class="now-ui-icons users_single-02"></i>
						<p>Cadetes</p>
					</a>
				</li>
				<li>
					<a href="/clientes">
						<i class="now-ui-icons users_single-02"></i>
						<p>Clientes</p>
					</a>
				</li>
				<li>
					<a href="/viajes">
						<i class="fas fa-route"></i>
						<p>Viajes</p>
					</a>
				</li>
				<li>
					<a href="/viajes/getCliEmplYFechas">
						<i class="fas fa-calendar-alt"></i>
						<p>Viajes/Cadete/Cliente/fechas</p>
					</a>
				</li>

				<li>
					<a href="/viajes/empleadoYFechas">
						<i class="fas fa-calendar-alt"></i>
						<p>Resumen/Cadete/fechas</p>
					</a>
				</li>

				<li>
					<a href="/viajes/clienteYFechas">
						<i class="fas fa-calendar-alt"></i>
						<p>Viajes/CLIENTE/fechas</p>
					</a>
				</li>

				<li>
					<a href="/viajes/fechasBorraViajes">
						<i class="fas fa-calendar-alt"></i>
						<p>Borrar/viajes/fechas</p>
					</a>
				</li>


				<li>
					<a href="/home">
						<i class="now-ui-icons shopping_shop"></i>
						<p>Volver a home</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>