<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Viajes')"></head>

<body>
    <div class="wrapper ">

        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <div class="main-panel" id="main-panel">

            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div>

                <div class="container-fluid">
					<div style="display: flex;">
	                    <a href="#" class="btn btn-success btn-add">
	                        <i class="fas fa-plus" style="padding-right:5px;"></i>
	                        <span class="p">Agregar Viaje</span>
	                    </a>
						<!--                     
	                    <a href="#" class="btn btn-info btn-between-date" style="margin-left: auto;">
	                        <i class="fas fa-search" style="padding-right:5px;"></i>
	                        <span class="p">Ver viajes entre fechas</span>
	                    </a>
						-->
						<a href="#" th:href="@{/viajes/fechasFiltarViajes}" class="btn btn-info btn-between-date" style="margin-left: auto;">
	                        <i class="fas fa-search" style="padding-right:5px;"></i>
	                        <span class="p">Ver viajes entre fechas</span>
	                    </a>
                    </div>                    
                    <h4 class="card-title">A continuaci&oacuten puede ver los <b>viajes de los &uacuteltimos 5 d&iacuteas.</b></h4>

            		<th:block th:include="fragments/listaViajesIndex :: table_responsive(viajes = ${viajes})"></th:block>					
					
					
					<th:block th:include="fragments/listaViajesIndex :: modals_required"></th:block>                                        	
                    
					<!-- 
                    <div class="form-between-date">
                        <form action="#" method="post" th:action="@{viajes/entreFechas}" novalidate class="formulario">
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modal-between-date" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ver viajes entre fechas
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">

                                            <div class="form-group">

                                                <label for="formGroupExampleInput">Fecha desde</label>

                                                <input type="date" id="fechaDesde" name="fechaDesde" class="form-control" placeholder="Ingrese la fecha desde" required>

                                            </div>

                                            <div class="form-group">

                                                <label for="formGroupExampleInput">Fecha hasta</label>

                                                <select class="form-control " id="selectFechaHasta" required>
                                                    <option selected value="Fecha actual">Fecha actual</option>
                                                    <option  value="Ingresar Fecha distinta a la actual">Ingresar Fecha distinta a la actual</option>
                                                </select>

                                             </div>

                                            <div class="form-group">

                                                <input type="date" id="fechaHasta" name="fechaHasta" class="form-control" placeholder="Ingrese la fecha hasta" required>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <input class="btn btn-success" type="submit" value="Buscar" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
					-->

                </div>
            </div>

        </div>
        
        <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    Seleccione "Logout" si est&aacute listo para finalizar su sesi&oacuten actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary" style="cursor: pointer" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </div>
    </div>

	<th:block th:include="fragments/scripts :: scripts"></th:block>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn-add').on('click', function (event) {
                event.preventDefault();

                $('.form-add #fecha').hide();

                $('.form-add #selectFecha').val("fecha Actual");

                //Seteo la fecha actual al campo input date
                $('#fecha').val(getCurrentDate());

                $('.form-add #exampleModal-add').modal();
            });
            
            /* 
            $('.btn-between-date').on('click', function (event) {
                event.preventDefault();

                $('.form-between-date #fechaHasta').hide();

                $('.form-between-date #selectFechaHasta').val("Fecha actual");

                //Seteo la fecha actual al campo input date
                $('#fechaHasta').val(getCurrentDate());

                $('.form-between-date #modal-between-date').modal();
            });
			*/
            
            $('.btn-edit').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');

                $.get(href, function (viaje, status) {
                    $('.form-update #id').val(viaje.idViaje);
                    $('.form-update #fecha').val(viaje.fecha);
                    $('.form-update #direccion').val(viaje.direccion);
                    $('.form-update #localidad').val(viaje.localidad);
                    $('.form-update #empleado').val(viaje.empleado.idPersona);
                    $('.form-update #cliente').val(viaje.cliente.idPersona);
                    $('.form-update #importe').val(viaje.importe);   //.val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.importe)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-update #detalle').val(viaje.detalle);
                    $('.form-update #descuento').val(viaje.descuento);   //.val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.descuento)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-update #contado').prop("checked", viaje.contado);             
                    $('.form-update #entregado').prop("checked", viaje.entregado);

                });

                $('.form-update #exampleModal').modal();

            });

            $('.btn-delete').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');

                $.get(href, function (viaje, status) {
                    $('.form-delete #id').val(viaje.idViaje);
                    $('.form-delete #fecha').val(viaje.fecha);
                    $('.form-delete #direccion').val(viaje.direccion);
                    $('.form-delete #localidad').val(viaje.localidad);
                    $('.form-delete #empleado').val(viaje.empleado.idPersona);
                });

                $('.form-delete #exampleModal').modal();

            });

            
            $('.btn-viewPlus').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');

                $.get(href, function (viaje, status) {
                    $('.form-viewPlus #id').val(viaje.idViaje);
                    $('.form-viewPlus #descuento').val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.descuento)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-viewPlus #neto').val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-viewPlus #detalle').val(viaje.detalle);
                    $('.form-viewPlus #contado').val(viaje.contado ? 'Si' : 'No');             
                });

                $('.form-viewPlus #exampleModal').modal();

            });

            
            $('#selectFecha').on('change', function () {
                //Seteo la fecha actual al campo input date
                $('#fecha').val(getCurrentDate());

                $('#fecha').toggle();

            });

            /*
            $('#selectFechaHasta').on('change', function () {
                //Seteo la fecha actual al campo input date
                $('#fechaHasta').val(getCurrentDate());

                $('#fechaHasta').toggle();

            }); 
            */

            function getCurrentDate() {
                var d = new Date();
                return d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2);
            }

            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('formulario');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();

        });
    </script>

    <script src="demo/dataTable.js"></script>


</body>

</html>