<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> Viajes </title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/demo/demo.css" rel="stylesheet" />

</head>

<body>
    <div class="wrapper ">

        <div class="sidebar" data-color="red">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->

            <div class="logo">
                <a href="/home" class="simple-text logo-mini">
                    <i class="fas fa-motorcycle"></i>
                </a>
                <a href="/home" class="simple-text logo-normal">
                  DANY-MOTOS
                </a>
            </div>

            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/empleados">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Cadetes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/clientes">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Clientes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/viajes">
                            <i class="fas fa-route"></i>
                            <p>Viajes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/viajes/empleadoYFechas">
                            <i class="fas fa-calendar-alt"></i>
                            <p>Viajes/Cadete/fechas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/home">
                            <i class="now-ui-icons shopping_shop"></i>
                            <p>Volver a home</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel" id="main-panel">

            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                      </button>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                  </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Some Actions</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="panel-header panel-header-sm">
            </div>

            <!-- -------------------------------------------------------------------------------------------------------------------  -->
            <div>
                <!-- -------------------------------------------------------------------------------------------------------------------  -->
                <div class="container-fluid">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Localidad</th>
                                <th scope="col">Importe</th>
                                <th scope="col">Cadete</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="v : ${viajes}">
                                <th scope="row" th:text="${v.idViaje}"></th>
                                <td th:text="${#dates.format(v.fecha,'dd MMMM yyyy')}"></td>
                                <td th:text="${v.direccion}"></td>
                                <td th:text="${v.localidad}"></td>
                                <td th:text="'$' + ${v.importe}"></td>
                                <td th:text="${v.Empleado.nombre} + ' ' + ${v.Empleado.apellido}"></td>
                                <td th:text="${v.Cliente.razonSocial}"></td>
                                <td th:text="${v.detalle}"></td>


                                <td>
                                    <div class="form-inline">

                                        <a class="btn btn-warning btn-edit" href="#" th:href="@{/viajes/{id}(id=${v.idViaje})}" style="margin-right: 5px">Editar</a>


                                        <form action="#" th:action="@{/viajes/delete/{id}(id=${v.idViaje})}" method="post">
                                            <input class="btn btn-danger" type="submit" value="Eliminar"></form>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>




                    <div class="form-add">
                        <form action="#" method="post" th:action="@{viajes/add}" novalidate class="formulario">
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal-add" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Agregar Viaje xx
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group">

                                                <label for="formGroupExampleInput">Fecha de realizacion del viaje</label>

                                                <select class="form-control " id="selectFecha" required>
                                                    <option selected value="fecha Actual">fecha Actual</option>
                                                    <option  value="Ingresar Fecha distinta a la actual">Ingresar Fecha distinta a la actual</option>

                                                    

                                                </select>


                                            </div>

                                            <div class="form-group">

                                                <input type="date" id="fecha" name="fecha" class="form-control" placeholder="Ingrese fecha">

                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Direccion</label>
                                                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese direccion">
                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Localidad</label>
                                                <input type="text" class="form-control" id="localidad" name="localidad" placeholder="Ingrese localidad">
                                            </div>

                                            <div class="form-group">

                                                <label class="col-form-label" for="name">Cadete</label>


                                                <select class="form-control " id="empleado" name="empleado.idPersona" required>
                                        <option th:each="e : ${empleados}" th:value="${e.idPersona}"  th:text="${e.nombre} + ' ' + ${e.apellido}"></option>

                                    </select>

                                            </div>

                                            <div class="form-group">

                                                <label class="col-form-label" for="name">Cliente</label>

                                                <select class="form-control " id="cliente" name="cliente.idPersona" required>
                                        <option th:each="c : ${clientes}" th:value="${c.idPersona}"  th:text="${c.razonSocial}"></option>

                                    </select>

                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Importe</label>
                                                <input type="number" class="form-control" id="importe" name="importe" placeholder="Ingrese importe">
                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Detalle</label>
                                                <textarea rows="" cols="" class="form-control" name="detalle" id="detalle" placeholder="Ingrese detalle (opcional)"></textarea>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <input class="btn btn-success" type="submit" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="form-update">
                        <form action="#" method="post" th:action="@{viajes/update}" novalidate class="formulario">
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Viaje
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                        </div>
                                        <div class="modal-body">

                                            <input class="form-control" id="id" name="idViajes" type="hidden" value="" />

                                            <div class="form-group">

                                                <label for="formGroupExampleInput">Fecha de realizacion del viaje</label>

                                            </div>

                                            <div class="form-group">

                                                <input type="date" id="fecha" name="fecha" class="form-control" placeholder="Ingrese fecha">

                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Direccion</label>
                                                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese direccion">
                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Localidad</label>
                                                <input type="text" class="form-control" id="localidad" name="localidad" placeholder="Ingrese localidad">
                                            </div>

                                            <div class="form-group">

                                                <label class="col-form-label" for="name">Cadete</label>


                                                <select class="form-control " id="empleado" name="empleado.idPersona" required>
                                        <option th:each="e : ${empleados}" th:value="${e.idPersona}"  th:text="${e.nombre} + ' ' + ${e.apellido}"></option>

                                    </select>

                                            </div>

                                            <div class="form-group">

                                                <label class="col-form-label" for="name">Cliente</label>

                                                <select class="form-control " id="cliente" name="cliente.idPersona" required>
                                        <option th:each="c : ${clientes}" th:value="${c.idPersona}"  th:text="${c.razonSocial}"></option>

                                    </select>

                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Importe</label>
                                                <input type="number" class="form-control" id="importe" name="importe" placeholder="Ingrese importe">
                                            </div>

                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Detalle</label>
                                                <textarea rows="" cols="" class="form-control" name="detalle" id="detalle" placeholder="Ingrese detalle (opcional)"></textarea>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <input class="btn btn-success" type="submit" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>



                    <a href="#" class="btn btn-success btn-add">
                        <i class="fas fa-plus" style="padding-right:5px;"></i>
                        <span class="p">Agregar Viaje</span>

                    </a>

                </div>
                <!-- -------------------------------------------------------------------------------------------------------------------  -->
            </div>

        </div>

    </div>
    <!-- -------------------------------------------------------------------------------------------------------------------  -->
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function() {

            $('.btn-add').on('click', function(event) {
                event.preventDefault();

                $('.form-add #fecha').hide();

                $('.form-add #selectFecha').val("fecha Actual");

                //Seteo la fecha actual al campo input date
                $('#fecha').val(getCurrentDate());

                $('.form-add #exampleModal-add').modal();
            });

            $('.btn-edit').on('click', function(event) {
                event.preventDefault();
                var href = $(this).attr('href');


                $.get(href, function(viaje, status) {

                    $('.form-update #id').val(viaje.idViaje);
                    $('.form-update #fecha').val(viaje.fecha);
                    $('.form-update #direccion').val(viaje.direccion);
                    $('.form-update #localidad').val(viaje.localidad);
                    $('.form-update #empleado').val(viaje.empleado.idPersona);
                    $('.form-update #cliente').val(viaje.cliente.idPersona);
                    $('.form-update #importe').val(viaje.importe);
                    $('.form-update #detalle').val(viaje.detalle);


                });

                $('.form-update #exampleModal').modal();

            });

            $('#selectFecha').on('change', function() {
                //Seteo la fecha actual al campo input date
                $('#fecha').val(getCurrentDate());

                $('#fecha').toggle();


            });

            function getCurrentDate() {
                var d = new Date();
                return d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2);
            }

        });
    </script>

</body>

</html>