<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Viajes')"></head>

<body class="container-fluid m-0 p-0">
<!--      <nav th:replace="fragments/navbar :: navbar(active='Viajes')"></nav> -->
     <div class="w-100 d-flex justify-content-center p-5" id="spinnerContainer">
          <div class="spinner-border text-dark" style="width: 3rem; height: 3rem;" role="status">
               <span class="sr-only m-5">Loading...</span>
          </div>
     </div>
     <main class="w-100 d-flex flex-column align-items-center invisible">
          <div class="d-flex justify-content-center" style="page-break-after:avoid">
               <button class="btn btn-secondary m-4" onclick="window.print();return false;">
                    <i class="fas fa-print"></i><br />IMPRIMIR</button>
               <button class="btn btn-secondary m-4" onclick="descargar()">
                    <i class="fas fa-download"></i><br />DESCARGAR</button>
               <button class="btn btn-secondary m-4" onclick="window.close();">
                    <i class="fas fa-times-circle"></i><br/>CERRAR</button>
          </div>
          <small id="avisoDeCompatibilidad" class="d-none text-danger roboto">
               Para imprimir varias páginas se recomienda Chrome u otro navegador basado en Chromium
          </small>
          <div id="viajesContainer"> <!-- ******************div contenedor General********************** -->				

               <div th:each="listaViajes : ${listaDeListasViajes}">
                
                    <div th:replace="fragments/printDownloadClienteHoja :: viajesCliente(
                                   viajes = ${listaViajes}, 
                                   hojaNro = ${listaViajesStat.index + 1} + '/' + ${listaDeListasViajes.size()}, 
                                   primerHoja = ( ${listaViajesStat.index + 1} == ${1} ),
                                   ultimaHoja = ( ${listaViajesStat.index + 1} == ${listaDeListasViajes.size()} ), 
                                   fechaA = ${fecha1} , fechaB = ${fecha2}, cantidad1 = ${cantidad}, 
                                   cliente1 = ${cliente}, imporTotal1 = ${imporTotal}
                              )">
                    </div>
                    <div th:if="${listaViajesStat.index + 1} != ${listaDeListasViajes.size()}"
                         style="page-break-before: always; margin:0;">
                   </div>
               </div>
				
          </div> <!-- **************fin div contenedor General********************** -->
     </main>
     <div th:replace="fragments/scripts :: scripts"></div> <!-- agrega scrips para usar los iconos de fontawesome, emtre otros scrips -->
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet" />
     <!-- ESTILOS -->
     <link rel="stylesheet" type="text/css" th:href="@{/css/printDownload1.css}" media="all" />
     <link rel="stylesheet" th:href="@{/css/printDownload2.css}" type="text/css" media="print">
     <!-- SCRIPT PARA GENERAR PDF -->
     <script th:src="@{/libraries/es6-promise.min.js}"></script>
     <script th:src="@{/libraries/jspdf.min.js}"></script>
     <script th:src="@{/libraries/html2canvas.min.js}"></script>
     <script th:src="@{/libraries/html2pdf.bundle.min.js}"></script>
     <!--SCRIPT VIAJE-->
     <script th:src="@{/js/printDownload.js}"></script>
     
</body>

</html>
