<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Viajes')"></head>

<body class="container-fluid m-0 p-0">
<!--      <nav th:replace="fragments/navbar :: navbar(active='Viajes')"></nav> -->
     <div class="w-100 d-flex justify-content-center p-5" id="spinnerContainer">
          <div class="spinner-border text-dark" style="width: 3rem; height: 3rem;" role="status">
               <span class="sr-only m-5">Loading...</span>
          </div>
     </div>
     <main class="w-100 d-flex flex-column align-items-center invisible">
          <div class="d-flex justify-content-center" style="page-break-after:avoid">
               <button class="btn btn-secondary m-4" onclick="window.print();return false;">
                    <i class="fas fa-print"></i><br />IMPRIMIR</button>
               <button class="btn btn-secondary m-4" onclick="descargar()">
                    <i class="fas fa-download"></i><br />DESCARGAR</button>
                 <form action="#" th:action="@{/viajes/getCliEmplYFechas}" method="get"> 
                   <button class="btn btn-secondary m-4">
                    <i class="fas fa-times-circle"></i><br />CANCELAR</button>
                 </form>                   
                    
          </div>
          <small id="avisoDeCompatibilidad" class="d-none text-danger roboto">
               Para imprimir varias páginas se recomienda Chrome u otro navegador basado en Chromium
          </small>
          <div id="viajesContainer"> <!-- ******************div contenedor General********************** -->				

				<!-- ----------------------------------cliente----------------------------------------------- -->
				
				<div class="container-container" id="viajesCliente">
				     <div class="viaje-container">
				          <div class="barraComun"></div>
				          <div class="remitente-info">
				               <div class="divisor3-info">
				                    <img th:src="@{/images/fondoNM.png}" alt="NEW-MOTOS ICONO" />
				                    <div class="info">
				                         <p class="divisor3-title roboto"><strong>NEW - MOTOS</strong></p>
				                    </div>
				               </div>
				               <div>
				                    <div style="margin-top:25px;">
				                         <p>
				                         <b>Para el cliente: </b>
				                         <br>
				                         <span  th:text="' '+${cCcliente.razonSocial}"></span>
				                         </p>
				                    </div>
				               </div>
				          </div>
				          <div class="divisor-info">
				               <div class="divisorFecha">
				                    <p style="margin-top:-1px;" class="rol roboto">Rango de fechas</p>
				                    <p class="datos roboto">
				                       <b>Desde el:</b><span th:text="' '+${fecha1}"></span>
				                       <b>Hasta el:</b> <span th:text="' '+${fecha2}"></span>
				                     </p>
				               </div>
				               <div class="divisor">
				                    <p style="margin-top:-1px;" class="rol roboto">Cantidad de viajes</p>
				                    <p class="datos roboto" th:text="${cCcantidad}"></p>
				               </div>
				               <div class="divisor">
				                    <p style="margin-top:-1px;" class="rol roboto">Importe TOTAL</p>
				                    <p class="datos roboto" th:text="${imporTotal}"></p>
				               </div>
				          </div>
                          <div class="barraComun2" style="margin-top: 2px;"> <p class="rol roboto">DETALLE</p> </div>
				               <table class="roboto">
				                    <thead>
				                         <tr>
				                              <th>Fecha</th>
				                              <th>Direccion</th>
				                              <th>Localidad</th>
				                              <th>Importe</th>
				                              <th>Descuento</th>
				                              <th>Neto</th>
				                         </tr>
				                    </thead>
				                    <tbody>
				                         <tr th:each="viaje : ${cCviajes}">
				                              <td th:text="${viaje.fecha}"></td>
				                              <td th:text="${viaje.direccion}"></td>
				                              <td th:text="${viaje.localidad}"></td>
				                              <td th:text="' $ '+${viaje.importe}"></td>
				                              <td th:text="' $ '+${viaje.descuento}"></td>
				                              <td th:text="' $ '+${viaje.neto}"></td>
				                         </tr>
				                    </tbody>
				               </table>
				     </div>
				</div>
				
				<!-- ------------------------------fin cliente----------------------------------------------- -->
				
          </div> <!-- **************fin div contenedor General********************** -->
     </main>
     <div th:replace="fragments/scripts :: scripts"></div> <!-- agrega scrips para usar los iconos de fontawesome, emtre otros scrips -->
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet" />
     <!-- ESTILOS -->
     <link rel="stylesheet" type="text/css" th:href="@{/css/printDownload1.css}" media="all" />
     <link rel="stylesheet" th:href="@{/css/printDownload2.css}" type="text/css" media="print">
     <!-- SCRIPT PARA GENERAR PDF -->
     <script th:src="@{/libraries/es6-promise.min.js}"></script>
     <script th:src="@{/libraries/jspdf.min.js}"></script>
     <script th:src="@{/libraries/html2canvas.min.js}"></script>
     <script th:src="@{/libraries/html2pdf.bundle.min.js}"></script>
     <!--SCRIPT VIAJE-->
     <script th:src="@{/js/printDownload.js}"></script>
     
</body>

</html>
