<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Viajes filtrados entre fechas')"></head>

<body>

    <div class="wrapper">

        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <div class="main-panel" id="main-panel">

            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container-fluid mt-3" id=notificacionNegativa>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>NO HAY VIAJES EN EL RANGO DE FECHAS INGRESADAS!</strong>
                </div>
            </div>

            <div class="container-fluid" id="viajesFiltrados">
                <div class="mx-auto main-section" id="myTab" role="tablist">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">


                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">
                                    <h4 class="card-title">Resultado de la consulta <b>viajes entre las fechas:</b>
                                        <td><span th:text="${fechaDesde}" /></td> y
                                        <td><span th:text="${fechaHasta}" /></td>
                                    </h4>
                                    <a href="#" th:href="@{/viajes}" class="btn btn-secondary mb-2">VOLVER</a>
                                </div>

                                <div class="card-body">
                   
            						<th:block th:include="fragments/listaViajesIndex :: table_responsive(viajes = ${viajes})"></th:block>					
					
				                    									                                
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab"></div>
                    	
						<th:block th:include="fragments/listaViajesIndex :: modals_required"></th:block>
                    	
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Logout Modal-->
    	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    	 <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
                </div>
                <div class="modal-body">
                    Seleccione "Logout" si est&aacute listo para finalizar su sesi&oacuten actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-primary" style="cursor: pointer" type="submit" value="Logout" />
                    </form>
                </div>
            </div>
        </div>

    <th:block th:include="fragments/scripts :: scripts"></th:block>
    
    <script>
        $(document).ready(function () {


            var element = document.getElementById("viajeConDatos");

            if (typeof (element) != 'undefined' && element != null) { //si tengo viajes
                $("#notificacionNegativa").hide(); //se esconde la notificación de que no hay viajes entre las fechas
            } else { //si NO tengo viajes
                $("#viajesFiltrados").hide(); //se esconde la tabla que es para mostrar los viajes
                $("#printDownloadButton").hide(); //se esconde el botón Imprimir/Descargar
            }

            
            $('.btn-add').on('click', function (event) {
                event.preventDefault();

                $('.form-add #fecha').hide();

                $('.form-add #selectFecha').val("fecha Actual");

                //Seteo la fecha actual al campo input date
                $('#fecha').val(getCurrentDate());

                $('.form-add #exampleModal-add').modal();
            });

            
            $('.btn-edit').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');

                $.get(href, function (viaje, status) {
                    $('.form-update #id').val(viaje.idViaje);
                    $('.form-update #fecha').val(viaje.fecha);
                    $('.form-update #direccion').val(viaje.direccion);
                    $('.form-update #localidad').val(viaje.localidad);
                    $('.form-update #empleado').val(viaje.empleado.idPersona);
                    $('.form-update #cliente').val(viaje.cliente.idPersona);
                    $('.form-update #importe').val(viaje.importe);   //.val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.importe)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-update #detalle').val(viaje.detalle);
                    $('.form-update #descuento').val(viaje.descuento);   //.val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.descuento)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-update #contado').prop("checked", viaje.contado);             
                    $('.form-update #entregado').prop("checked", viaje.entregado);

                });

                $('.form-update #exampleModal').modal();

            });


            $('.btn-delete').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');

                $.get(href, function (viaje, status) {
                    $('.form-delete #id').val(viaje.idViaje);
                    $('.form-delete #fecha').val(viaje.fecha);
                    $('.form-delete #direccion').val(viaje.direccion);
                    $('.form-delete #localidad').val(viaje.localidad);
                    $('.form-delete #empleado').val(viaje.empleado.idPersona);
                });

                $('.form-delete #exampleModal').modal();

            });

            
            $('.btn-viewPlus').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');

                $.get(href, function (viaje, status) {
                    $('.form-viewPlus #id').val(viaje.idViaje);
                    $('.form-viewPlus #descuento').val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.descuento)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-viewPlus #neto').val(new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)); // CON "new Intl.NumberFormat('es-AR', {currency: 'ARS', style: 'currency'}).format(viaje.neto)"se establece un formato de divisa ARGENTINA
                    $('.form-viewPlus #detalle').val(viaje.detalle);
                    $('.form-viewPlus #contado').val(viaje.contado);             
                });

                $('.form-viewPlus #exampleModal').modal();

            });

            $('#selectFecha').on('change', function () {
                //Seteo la fecha actual al campo input date
                $('#fecha').val(getCurrentDate());

                $('#fecha').toggle();

            });


            function getCurrentDate() {
                var d = new Date();
                return d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2);
            }

            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('formulario');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
            

            $('#myTable').dataTable({
                "oLanguage": {
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron registros ",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },

                },
                "iDisplayLength": 5,
                "aLengthMenu": [
                    [5, 10, 25, -1],
                    [5, 10, 25, "All"]
                ],

                "bInfo": false,
                "bLengthChange": true
            });

            var table = $('#myTable').DataTable();

            var s = $(".dataTables_wrapper .dataTables_filter");
            s.hide();

            $('#search').on('keyup', function () {
                table.search(this.value).draw();
            });

            
        });
        
    </script>


</body>

</html>