#image {
    background: url(../img/motos1.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    position:relative;
    color: white;
    z-index:1;
  }
  
  #image::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:-1;
  }

.main-section{
    margin:0 auto;
    margin-top:2%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #c0c0c0;
    box-shadow: 0px 0px 3px #ada8a8;
}


.main-section label{
	font-weight: bold;
}



.nav-tabs{
	border-bottom:0px;
}