<!DOCTYPE html>
<html lang="en">

<head>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/fondoNM.png}" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/material.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>

<body id="image">

    <section class="full-width text-center">
        <article class="full-width tile" style="border: none; cursor:auto;">
            <span class="text-condensedLight">
                <h1>NEW-MOTOS</h1>
            </span>
        </article>

        <br>
        <br>
        
        <article class="full-width tile">
            <form id="logoutForm" th:action="@{/logout}" method="post">
                <a id="logout" class="full-width">
                    <div class="card mb-3" style="background-color: transparent;">
                        <div class="tile-text">
                            <span class="text-condensedLight">
                                <h4>Salir/Cerrar Sesi&oacuten</h4>
                            </span>
                        </div>
                    </div>
                    <i class="fas fa-sign-out-alt tile-icon"></i>
                </a>
            </form>
        </article>

        <article class="full-width tile">
            <a th:href="@{/viajes}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h3>Lista de Viajes</h3>
                        </span>
                    </div>
                </div>
                <i class="fas fa-dolly-flatbed tile-icon"></i>
            </a>
        </article>

        <article class="full-width tile">
            <a th:href="@{/empleados}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h3>Lista de Cadetes</h3>
                        </span>
                    </div>
                </div>
                <i class="fas fa-user tile-icon"></i>
            </a>
        </article>

        <article class="full-width tile">
            <a th:href="@{/clientes}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h4>Lista de Clientes</h3>
                        </span>
                    </div>
                </div>
                <i class="fas fa-user-circle tile-icon"></i>
            </a>
        </article>

        <article class="full-width tile">
            <a th:href="@{/viajes/getCliEmplYFechas}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h4>Consultar viajes por Cadete/Cliente <br> entre fechas</h4>
                        </span>
                    </div>
                </div>
                <i class="fas fa-calendar-alt tile-icon"></i>
            </a>
        </article>

        <article class="full-width tile">
            <a th:href="@{/viajes/empleadoYFechas}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h4>Resumen de viajes de un Cadete <br> entre fechas</h4>
                        </span>
                    </div>
                </div>
                <i class="fas fa-calendar-alt tile-icon"></i>
            </a>
        </article>

        <article class="full-width tile">
            <a th:href="@{/viajes/clienteYFechas}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h4>Consultar viajes por CLIENTE <br> entre fechas</h4>
                        </span>
                    </div>
                </div>
                <i class="fas fa-calendar-alt tile-icon"></i>
            </a>
        </article>
        
        <article class="full-width tile">
            <a th:href="@{/viajes/fechasBorraViajes}" class="full-width">
                <div class="card mb-3" style="background-color: transparent;">
                    <div class="tile-text">
                        <span class="text-condensedLight">
                            <h4>Borrar viajes entre fechas</h4>
                        </span>
                    </div>
                </div>
                <i class="fas fa-calendar-alt tile-icon"></i>
            </a>
        </article>

    </section>
    
	<script>
        const logoutLink = document.getElementById('logout');
        const logoutForm = document.getElementById('logoutForm');

        logoutLink.addEventListener('click', function(e) {
          e.preventDefault(); // Evita que el enlace siga el enlace original
            
          logoutForm.submit(); // Realiza el submit del formulario
        });
    </script>


</body>

</html>